/* My Styles */

body {
    font-family: 'Comico-Regular';
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
 height: 10px;
}
img{
    width: 100vh;
    height: 100vh;
}